<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)"></customErrors>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes(requireSSL)" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache30min" duration="1800" enabled="false" xdt:Transform="SetAttributes(duration)" xdt:Locator="Match(name)" />
          <add name="Cache24hours" duration="86400" xdt:Transform="SetAttributes(duration)" xdt:Locator="Match(name)" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>

  <system.webServer>
    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" xdt:Transform="Insert" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true" xdt:Transform="Insert">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=31536000" xdt:Transform="Insert" />
        <add name="X-Frame-Options" value="DENY" xdt:Transform="Insert" />
        <add name="X-Content-Type-Options" value="nosniff" xdt:Transform="Insert" />
        <add name="Pragma" value="no-cache" xdt:Transform="Insert" />
        <add name="Cache-Control" value="no-cache, no-store" xdt:Transform="Insert" />
        <add name="X-XSS-Protection" value="1"  xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes(requireSSL)" />
  </system.web>
</configuration>